<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blackbox Database</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basics.css" />
    </head>
    <body>
        <script>
            function show_results(){
                setTimeout(2)
                console.log(document.getElementById('search_bar_input').innerHTML);
                if(document.getElementById('search_bar_input').innerHTML == '2195'){
                    document.getElementById('search_result_list').style.display = 'block';
                }else{
                    document.getElementById('search_result_list').style.display = 'none';
                };
            }
        </script>
        <style>
            #contents {
                display: flex;
                margin: 0 auto;

                width: fit-content;
                height: fit-content;

                border: solid 1px black;
                flex-direction: column;
            }
            
            #testcases_title {
                display: inline-block;

                width: 100%;
                height: fit-content;

                border: solid 1px black;
                box-sizing: border-box;
            }

            #testcases_title h2 {
                margin: 1em 0.7em;
            }

            #search_bar {
                display: flex;
                padding: 1em 0.5em;
                width: 100%;
                height: fit-content;

                border: solid 1px black;
                box-sizing: border-box;

                align-items: center;
            }

            #search_bar span {
                display: inline-block;
                width: 15%;
                text-align: center;
            }

            #search_bar_input {
                display: flex;
                margin: 0 1em;
                padding-left: 1em;
                width: 85%;
                height: 2.5em;

                border: solid 1px black;
                box-sizing: border-box;

                background-image: url('./images/search.png');
                background-position: right 1em center;
                background-repeat: no-repeat;

                align-items: center;
            }

            #testcases_contents {
                padding: 1em;

                min-width: 50vw;
                border: solid 1px black;
            }

            #problem_block {
                display: flex;
                
                margin: 1em;
                flex-direction: column;
                justify-content: space-between;

            }

            #problem_title {
                font-size: 24px;
                font-weight: bold;
            }

            #problem_link {
                padding-right: 20px;

                min-height: 20px;

                color: gray;

                background-image: url('./images/open.png');
                background-repeat: no-repeat;
                background-position: right bottom;
                background-size: 16px;
            }

            .testcase_block {
                margin: 2em 0;
            }

            .testcase {
                display: flex;
            }

            .input, .output {
                display: inline-block;
                padding: 0.5em;
                width: 50%;
                
                box-sizing: border-box;
            }

            .input_title, .output_title {
                display: inline-block;
                padding: 0.5em;

                width: 100%;
                border-bottom: solid 1px black;

                font-size: 16px;
                font-weight: bold;

                box-sizing: border-box;

            }

            .testcase_preview {
                margin: 1em 0;
                padding: 1em;
                width: 100%;
                min-height: 5em;
                border: solid 2px gainsboro;
                border-radius: 5px;
                box-sizing: border-box;
            }

            #commands {
                display: flex;
                justify-content: flex-end;
            }

            #submit_source {
                margin: 0.3em 0;
                padding: 0.5em 2em;
                font-size: 1.5vh;
                background-color: white;
                border: solid 1px black;
            }

            footer p {
                text-align: center;
                color: gray;
            }

            #search_result_list {
                    display: none;
                    position: relative;
                    z-index: 3;
                    padding: 1em;

                    width: 100%;

                    border: solid 1px black;
                    background-color: white;
                    box-sizing: border-box;
            }

            .search_result_source {
                padding: 0.2em;

                background-color: rgb(120, 197, 197);
                border-radius: 5px;
            }

            .search_result_code_exist {
                padding: 0.2em;

                color: white;
                font-weight: bold;
                background-color: rgb(39, 107, 134);
                border-radius: 5px;
            }

            .search_result_title {
                font-size: 16px;
                font-weight: bold;
            }

            .search_result_info {
                color: gray;
            }

            .search_result_testcases {
                font-weight: bold;
            }
        </style>

        <%- include('./layouts/header'); -%>
        <main>
            <div id="contents">
                <div id="testcases_title">
                    <h2>테스트 케이스 등록하기</h2>
                </div>
                <div id="search_bar">
                    <span>문제 URL</span>
                    <div id="search_bar_input" contentEditable="true" onkeyup="show_results()"></div>
                </div>
                <div id="search_result_list">
                    <div class="search_result">
                        <span class="search_result_source">baekjoon</span>
                        <span class="search_result_code_exist">정답 코드 있음</span>
                        <span class="search_result_title">2195번: 문자열 복사</span>
                        <span class="search_result_info">정답률 45%</span> | 
                        <span class="search_result_info">정답 제출 27428명</span>
                        <span class="search_result_testcases">(1)</span>
                    </div>
                </div>
                <div id="testcases_contents">
                    <div id="problem_block">
                        <div id="problem_info">
                            <span id="problem_title">2195번: 문자열 복사</span>
                            <span id="problem_link">from baekjoon online judge</span>
                        </div>
                    </div>
                    <div class="testcase_block">
                        <div class="testcase">
                            <div class="input">
                                <span class="input_title">INPUT</span>
                                <pre class="testcase_preview" contenteditable="true"></pre>
                            </div>
                            <div class="output">
                                <span class="output_title">OUTPUT</span>
                                <pre class="testcase_preview" contenteditable="true"></pre>
                            </div>
                        </div>
                    </div>
                    <div id="commands">
                        <input id="submit_source" type="submit" value="등록" onclick="location.href='testcases.html';"/>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./layouts/footer'); -%>
    </body>
</html>