<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blackbox Database</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basics.css" />
    </head>
    <body>
        <style>
            @keyframes rotate_image{
                0% {
                    transform: translate(0, 30vw);
                }
                100% { 
                    transform: translate(0, -30vw);
                } 
            }

            main {
                padding: 0 !important;
            }
            #board_title {
                display: flex;
                padding: 1em;

                min-height: 5vw;

                font-size: 20px;

                align-items: flex-end;
                justify-content: center;
                box-sizing: border-box;

            }
            #credits {
                display: flex;
                justify-content: center;
                align-items: center;
                height: fit-content;
            }
            .triangle {
                display: inline-block;
                position: relative;
                top: 10vh;
                border-bottom: 9vw solid #000000;
                border-left: 5vw solid transparent;
                border-right: 5vw solid transparent;
            }
            .input {
                left: 5vw;
                transform: rotate(90deg);
            }
            .output {
                right: 5vw;
                transform: rotate(270deg);
            }
            .box {
                display: inline-block;
                position: relative;
                top: 5vw;
                min-width: 60%;
                max-width: 20vw;
                min-height: 20vw;
                height: 40vh;
                color: white;
                background-color: #000000;
                text-align: center;
                font-size: 14px;
                font-family: 'Consolas';
                overflow: hidden;
            }
            #roll p {
                animation: rotate_image 20s linear infinite;
            }
            #roll {
                display: inline-block;
                position: relative;
                top: -5vw;
                width: 100%;
                height: 40vh;
            }
            footer p {
                text-align: center;
                color: gray;
            }
        </style>

        <%- include('./layouts/header'); -%>
        <main>
            <div id="board_title">
                <span>크레딧</span>
            </div>

            <div id="credits">
                <div class="triangle input"></div>
                <div class="box">
                    <div id="roll">
                        
                        <p>project produced by return-zero; project</p>
                        <p><br /></p>
                        <p>icon provieded by flaticon</p>
                        <p><br /></p>
                        <p><br /></p>
                        <p>[best test case contributor]</p>
                        <p>---</p>
                        <p>kjeun990806@gmail.com</p>
                        <p><br /></p>
                        <p>[best answer code contributor]</p>
                        <p>---</p>
                        <p>kjeun990806@gmail.com</p>
                        
                    </div>
                </div>
                <div class="triangle output"></div>
            </div>
        </main>
        <%- include('./layouts/footer'); -%>
    </body>
</html>