<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blackbox Database</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basics.css" />
    </head>
    <body>
        <%- include('./layouts/header'); -%>
        <main>
            <div class="contents">
                <div id="main_content_container">
                    <div class="content_box align_text_center border_right">
                        <h2>BLACK BOX DATABASE</h2>
                        <p class="text_small">프로그래밍 문제들의 정답과 테스트 케이스를 보관합니다.</p>
                    </div>
                    <div class="content_box">
                        <div class="content_box border_bottom">
                            <div class="box_title">
                                <span class="text_normal">새로 등록된 테스트 케이스</span>
                            </div>
                            <div class="box_contents">
    
                            </div>
                        </div>
                        <div class="content_box">
                            <div class="box_title">
                                <span class="text_normal">새로 등록된 질문</span>
                            </div>
                            <div class="box_contents">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./layouts/footer'); -%>
    </body>
</html>