<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blackbox Database</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basics.css" />
    </head>
    <body>
        <style>
            #contents {
                display: flex;
                margin: 0 auto;

                width: fit-content;
                min-height: 30vw;

                border: solid 1px black;
            }
            
            #intro {
                display: inline-block;
                padding: 2em;

                min-width: 30vw;
                min-height: 60vh;

                border: solid 1px black;
                text-align: center;

                box-sizing: border-box;
            }

            #intro h2 {
                margin-top: 0;
                margin-bottom: 1em;
                font-size: 32px;
            }

            #intro p {
                margin: 0.5em;
            }

            #new_contents {
                display: flex;
                flex-direction: column;

                min-width: 15vw;
                border: solid 1px black;

                box-sizing: border-box;
            }

            #new_test_cases {
                height: 50%;

                border: solid 1px black;

                box-sizing: border-box;
            }

            #new_questions {
                height: 50%;

                border: solid 1px black;

                box-sizing: border-box;
            }

            .card_title {
                margin: 0 auto;
                width: 90%;
                border-bottom: solid 1px black;
                padding: 1em 0;

                box-sizing: border-box;
            }

            footer p {
                text-align: center;
                color: gray;
            }
        </style>

        <%- include('./layouts/header'); -%>
        <main>
            <div id="contents">
                <div id="intro">
                    <h2>BLACK BOX DATABASE</h2>
                    <p>프로그래밍 문제들의 정답과 테스트 케이스를 보관합니다.</p>
                    <p></p>
                </div>
                <div id="new_contents">
                    <div id="new_test_cases">
                        <div class="card_title">
                            <span>새로 등록된 테스트 케이스</span>
                        </div>
                    </div>
                    <div id="new_questions">
                        <div class="card_title">
                            <span>새로 등록된 질문</span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./layouts/footer'); -%>
    </body>
</html>