<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blackbox Database</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basics.css" />
    </head>
    <body>
        <%- include('./layouts/header'); -%>
        <main>
            <div class="contents">
                <div id="join_input_container">
                    <h2>JOIN</h2>
                    <form action="/add_account" method="POST">
                        <table id="join_form">
                            <tbody>
                                <tr>
                                    <td>e-mail</td>
                                    <td><input type="text" name="email" id="email" placeholder="e-mail" /></td>
                                </tr>
                                <tr>
                                    <td>name</td>
                                    <td><input type="text" name="name" id="name" placeholder="username" /></td>
                                </tr>
                                <tr>
                                    <td>password</td>
                                    <td><input type="password" name="password" id="password" placeholder="password" /></td>
                                </tr>
                                <tr>
                                    <td>double check ;)</td>
                                    <td><input type="password" id="password" placeholder="password" /></td>
                                </tr>
                            </tbody>
                        </table>
                        <p><input type="submit" value="회원가입" /></p>
                    </form>
                </div>
            </div>
        </main>
        <%- include('./layouts/footer'); -%>
    </body>
</html>