<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blackbox Database</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basics.css" />
    </head>
    <body>
        <%- include('./layouts/header'); -%>
        <main>
            <div class="contents">
                <div id="login_input_container">
                    <h2>LOGIN</h2>
                        <form action="/login_check" method="POST">
                        <p><input type="text" name="email" id="email" placeholder="e-mail" /></p>
                        <p><input type="password" name="password" id="password" placeholder="password" /></p>
                        <p><input type="submit" value="login" /></p>
                    </form>
                    <p class="warning"><%= locals.hint %></p>
                </div>
            </div>
        </main>
        <%- include('./layouts/footer'); -%>
    </body>
</html>