<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blackbox Database</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basics.css" />
    </head>
    <body>
        <%- include('./layouts/header'); -%>
        <main>
            <div class="contents">
                <div id="board_title">
                    <span>글 작성</span>
                </div>
                <div id="board_content_container">
                    <form action="/post/save" method="POST">
                        <div id="new_post_meta">
                            <div class="new_post_category">
                                <p id="selected_category">질문 게시판</p>
                                <div id="option_box">
                                    <p>질문 게시판</p>
                                    <p>건의 게시판</p>
                                </div>
                            </div>
                            <input type="hidden" name="post_category" id="post_category_value" value="질문 게시판">
                            <input type="text" name="post_title" class="new_post_title">
                        </div>
                        <div id="new_post_content">
                            <textarea type="text" name="post_content" id="content_editor"></textarea>
                            <input type="submit" class="new_post_submit" value="작성">
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <%- include('./layouts/footer'); -%>

        <script>
            const options_opener = document.querySelector('#selected_category');
            const option_box = document.querySelector('#option_box');
            const option_box_element = document.querySelectorAll('#option_box p');
            const category = document.querySelector('#post_category_value')

            options_opener.addEventListener('click', () => {
                if(option_box.style.maxHeight != '5em') option_box.style.maxHeight = '5em';
                else option_box.style.maxHeight = '0em';
            });

            [].forEach.call(option_box_element, function(element){ 
                element.addEventListener('click', () => {
                    if(option_box.style.maxHeight != '5em') option_box.style.maxHeight = '5em';
                    else option_box.style.maxHeight = '0em';
                    options_opener.innerText = element.innerText;
                    category.value = element.innerText;
                });
            }); 
        </script>
    </body>

</html>