<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blackbox Database</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/basics.css" />
    </head>
    <body>
        <style>
            main {
                padding: 0 !important;
            }

            #board_title {
                display: flex;
                padding: 1em;

                min-height: 5vw;

                font-size: 20px;

                border: solid 1px black;
                align-items: flex-end;
                box-sizing: border-box;

            }

            #contents {
                margin: 2vh auto;
                padding: 0;

                max-width: 80em;
            }

            #new_post_meta {
                display: flex;
                justify-content: flex-start;
                padding: 1em;
                
                align-items: flex-start;
                box-sizing: border-box;
            }

            .new_post_category {
                margin: 0 0.5em 0 0;

                width: fit-content;

                font-size: 1.5vh;
                white-space: nowrap;

                background-color: white;
                border: solid 1px black;
                box-sizing: border-box;
            }

            .new_post_category p {
                margin: 0;
                padding: 0.5em 1em;
                user-select: none;
                background-color: white;
            }

            #option_box {
                max-height: 0;
                overflow: hidden;

                transition: max-height 0.5s ease-in-out;
            }

            #option_box p:hover {
                background-color: gainsboro;
            }

            .new_post_title {
                font-size: 1.5vh;
                width: 100%;
                padding: 0.5em 1em;
                height: 2.4em;
                border: solid 1px black;
                box-sizing: border-box;
            }

            #new_post_content {
                padding: 0 1em;
            }

            #content_editor {
                padding: 1em;
                height: 40em;
                width: 100%;
                border: solid 1px black;
                box-sizing: border-box;
            }

            .new_post_submit {
                float: right;
                margin: 1em 0;
                padding: 1em;
                width: 10em;
                font-size: 1.5vh;
                text-align: center;
                background-color: white;
                border: solid 1px black;
                box-sizing: border-box;
            }
            
            footer p {
                text-align: center;
                color: gray;
            }
        </style>

        <%- include('./layouts/header'); -%>
        <main>
            <div id="board_title">
                <span>글 작성</span>
            </div>
            <div id="contents">
                <form action="/save_post" method="POST">
                    <div id="new_post_meta">
                        <div class="new_post_category">
                            <p id="selected_category">질문 게시판</p>
                            <div id="option_box">
                                <p>질문 게시판</p>
                                <p>건의 게시판</p>
                            </div>
                        </div>
                        <input type="hidden" name="post_category" id="post_category_value" value="질문 게시판">
                        <input type="text" name="post_title" class="new_post_title">
                    </div>
                    <div id="new_post_content">
                        <textarea type="text" name="post_content" id="content_editor"></textarea>
                        <input type="submit" class="new_post_submit" value="작성">
                    </div>
                </form>
            </div>
        </main>
        <%- include('./layouts/footer'); -%>

        <script>
            const options_opener = document.querySelector('#selected_category');
            const option_box = document.querySelector('#option_box');
            const option_box_element = document.querySelectorAll('#option_box p');
            const category = document.querySelector('#post_category_value')

            options_opener.addEventListener('click', () => {
                if(option_box.style.maxHeight != '5em') option_box.style.maxHeight = '5em';
                else option_box.style.maxHeight = '0em';
            });

            [].forEach.call(option_box_element, function(element){ 
                element.addEventListener('click', () => {
                    if(option_box.style.maxHeight != '5em') option_box.style.maxHeight = '5em';
                    else option_box.style.maxHeight = '0em';
                    options_opener.innerText = element.innerText;
                    category.value = element.innerText;
                });
            }); 
        </script>
    </body>

</html>