/* header (logo, navigation bar) styles */

header div {
    float: right;
    width: 84vw;
    height: 55px;
    border: solid 1px black;
    box-sizing: border-box;
}

/* logo */

#logo {
    position: fixed;
    left: 0;
    top: 0;

    width: 16vw;
    height: 110px;

    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}

/* login menu */

#login_menu {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

#login_menu li {
    display: flex;
    margin: 0;
    padding: 0 0.5em;

    width: fit-content;
    height: 55px;

    align-items: center;

    font-size: 14px;

    box-sizing: border-box;
}

/* navigation bar */

#navigation_menu {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    box-sizing: border-box;
}

#navigation_menu li {
    display: flex;
    margin: 0;
    padding: 0;

    width: 12vw;
    height: 55px;
    border: solid 1px black;

    font-size: 1vw;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

a:hover li {
    color: white;
    background-color: black;
}