/* variables ===================== */

:root {
    --desktop-font-large: 18px;
    --desktop-font-normal: 14px;
    --desktop-font-small: 12px;

    --mobile-font-large: 14px;
    --mobile-font-normal: 12px;
    --mobile-font-small: 10px;
}

/* common tags =================== */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover li {
    text-decoration: double underline;
}

input, button {
    box-sizing: border-box;

    background-color: white;
    border: solid 1px black;
}

input[type="submit"], button {
    padding: 0.5em;
    font-size: 9px;
}

button:disabled {
    background-color: gainsboro;
    border: gainsboro;
}

input[type="submit"]:hover, button:enabled:hover {
    background-color: gainsboro;
    cursor: pointer;
}

button[type="text-button"] {
    border: none !important;
    background: none !important;
}

*:focus {
    outline: none;
}

/* common classes ================ */

.border_right {
    border-right: solid 1px black;
}

.border_left {
    border-left: solid 1px black;
}

.border_top {
    border-top: solid 1px black;
}

.border_bottom {
    border-bottom: solid 1px black;
}

.align_text_center {
    text-align: center;
}

.align_text_right {
    text-align: right;
}

.hidden {
    display: none !important;
}

/* header ======================== */

header {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    max-height: 22vh;
    box-sizing: border-box;

    font-size: 2vh;

    background-color: white;
    border-bottom: solid 1px black;
    z-index: 999;
}

header #logo {
    margin: 0 1em;
    width: 14vw;
    min-height: 100px;

    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}

header #login_menu {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    border-bottom: solid 1px gainsboro;
}

header #login_menu li {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0.5em;

    box-sizing: border-box;

    font-size: 12px;
}

header #navigation_menu_container {
    display: flex;
    justify-content: space-between;
}

header #navigation_menu {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
    justify-content: flex-end;
    box-sizing: border-box;
}

header #navigation_menu a {
    height: 100%;
}

header #navigation_menu li {
    display: flex;
    margin: 0 2vw;
    padding: 0;

    height: 100%;
    box-sizing: border-box;

    font-size: 12px;
    justify-content: center;
    align-items: center;
}

/* main ========================== */

main {
    margin-top: 22vh;

    min-width: 100%;
    width: fit-content;
    height: fit-content;

    font-size: 1.5vh;

    box-sizing: border-box;
}

main .contents {
    display: flex;
    margin: 0 auto;

    width: fit-content;
    height: fit-content;

    flex-direction: column;
}

/* footer ======================== */

footer {
    min-width: 100%;
    width: fit-content;
    min-height: 8em;

    border-top: solid 1px black;
    box-sizing: border-box;
    
    font-size: 1.5vh;
    color: gray;

    text-align: center;
}

/* fonts ========================= */

@media screen and (min-width: 600px) {
    .text_small {
        font-size: var(--desktop-font-small);
    }
    .text_normal {
        font-size: var(--desktop-font-normal);
    }
    .text_large {
        font-size: var(--desktop-font-large);
    }
}

@media screen and (max-width: 600px) {
    .text_small {
        font-size: var(--mobile-font-small);
    }
    .text_normal {
        font-size: var(--mobile-font-normal);
    }
    .text_large {
        font-size: var(--mobile-font-large);
    }
}

.warning {
    color: maroon;
}

/* main ========================== */

#main_content_container {
    display: flex;
    justify-content: center;

    padding: 2em;

    min-height: 30vw;
}

.content_box {
    padding: 0.5em;
}

@media screen and (min-width: 600px) {
    #main_content_container {
        flex-direction: row;
        font-size: var(--desktop-font-normal);
    }

    .content_box {
        display: flex;
        flex-direction: column;
        min-height: 15vh;
    }
}

@media screen and (max-width: 600px) {
    #main_content_container {
        flex-direction: column;
        font-size: var(--mobile-font-normal);
    }

    .content_box {
        min-height: 15vh;
        border-right: none;
        border-bottom: solid 1px black;
    }
}

.box_title {
    padding: 1em;
    
    width: 100%;
    box-sizing: border-box;

    border-bottom: solid 1px gainsboro;
    white-space: nowrap;
}

.box_contents {
    display: flex;
    flex-direction: column;

    height: 10em;
}

/* login ========================= */

#login_input_container {
    display: inline-block;
    padding: 2em;

    min-width: 30vw;
    width: fit-content;
    box-sizing: border-box;

    border: solid 1px black;
    text-align: center;
}

#login_input_container h2 {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 32px;
}

#login_input_container p {
    margin: 0.5em;
}

#login_input_container input {
    padding: 0.6em;
    width: 19em;
    box-sizing: border-box;
}

/* join ========================== */

#join_input_container {
    display: inline-block;
    padding: 2em;

    min-width: 30vw;
    max-width: 100%;

    border: solid 1px black;
    text-align: center;

    box-sizing: border-box;
}

#join_input_container h2 {
    margin-top: 0;
    margin-bottom: 6vh;

    font-size: 32px;
}

#join_input_container p {
    margin: 0.5em;
}

#join_input_container #join_form {
    margin: 0 auto;
    width: 100%;
}

#join_input_container #join_form td {
    height: 4em;
    text-align: left;
}

#join_input_container input[type="text"], #join_input_container input[type="password"] {
    padding: 0.6em;
    width: 100%;
}

#join_input_container input[type="submit"] {
    padding: 0.6em;
    margin: 3em;

    max-width: 19em;
    width: 60%;
}

/* board ========================= */

#board_title {
    display: flex;
    padding: 1em;

    min-height: 5vw;

    font-size: 20px;

    border-bottom: solid 1px black;
    align-items: flex-end;
    box-sizing: border-box;

}

#board_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option_button {
    display: flex;
    align-items: center;
    margin: 1em;
    padding: 0 1em;
    min-height: 3em;

    border: solid 1px black;
    transition: all .3s;
    box-sizing: border-box;
}

.option_button:hover {
    background-color: black;
    color: white;
}

#search {
    max-width: 6em;
    transition: max-width 1s;
    overflow: hidden;
}

#search span {
    white-space: nowrap;
    min-width: fit-content;
}

#search input {
    margin: 0;
    padding: 0.1em;
    font-size: 1.5vh;
    margin-left: 3em;
}

#search:hover {
    max-width: 25em;
}

#board_content_container {
    margin: 2vh auto;
    padding: 0;

    width: 80em;
}

#new_post {
    display: flex;
    padding: 3px;
    justify-content: flex-end;
}

#new_post button {
    padding: 0.5em 1em;

    background-color: white;
    border: solid 1px black;

    font-size: 1.5vh;
}

#new_post button:hover {
    background-color: gainsboro;
}

#new_post button:active {
    background-color: black;
    color: white;
}

.post {
    display: flex;
    justify-content: space-around;
    height: 3em;
    
    align-items: center;

    border-top: solid 1px gray;
    box-sizing: border-box;
}

.post:hover {
    background-color: ghostwhite;
}

.post_date {
    display: inline-block;
    max-width: 10%;
    min-width: fit-content;
    text-align: center;
}

.post_title {
    display: inline-block;
    width: 30em;
    overflow: hidden;
}

.post_writer {
    display: inline-block;
    max-width: 10%;
    width: 12em;
    text-align: center;
    overflow: hidden;
}

#post_remote {
    display: flex;

    margin: 0 auto;
    padding-top: 3em;

    justify-content: center;

    border-top: solid 1px gray;
}

.post_remote_button {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;

    margin: 0 2px;

    text-align: center;

    border: solid 1px black;
    box-sizing: border-box;
}

/* write ========================= */

#new_post_meta {
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    
    align-items: flex-start;
    box-sizing: border-box;
}

.new_post_category {
    margin: 0 0.5em 0 0;

    width: fit-content;

    font-size: 1.5vh;
    white-space: nowrap;

    background-color: white;
    border: solid 1px black;
    box-sizing: border-box;
}

.new_post_category p {
    margin: 0;
    padding: 0.5em 1em;
    user-select: none;
    background-color: white;
}

#option_box {
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.5s ease-in-out;
}

#option_box p:hover {
    background-color: gainsboro;
}

.new_post_title {
    font-size: 1.5vh;
    width: 100%;
    padding: 0.5em 1em;
    height: 2.4em;
    border: solid 1px black;
    box-sizing: border-box;
}

#new_post_content {
    padding: 0 1em;
}

#content_editor {
    padding: 1em;

    height: 40em;
    width: 100%;
    box-sizing: border-box;

    border: solid 1px black;
}

.new_post_submit {
    float: right;

    margin: 1em 0;
    padding: 1em;

    width: 10em;
    box-sizing: border-box;

    background-color: white;
    border: solid 1px black;

    font-size: 1.5vh;
    text-align: center;
}


/* ======== */

